
.borda-interna{
    background-image: url(Foto.jpg);
    background-position: center;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border: 10px dashed rgb(101, 12, 243);
    outline: 10px double rgb(255, 0, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
}